CVS
*.swp
*.orig
.#*
tags
.buildpath
.project
.settings
.idea
logs
.DS_Store
Config/domain.conf.php
Config/memcached.conf.php
Config/redis.conf.php
Config/zookeeper.conf.php
Config/Current
ComposerVendors
Composer/composer.lock
*.exe
